.imgContainer {
	position: relative;
	margin-right: 0px;
	height: 600px;
	font-family: "Times New Roman";
}

#sigiriya {
	height: 100%;
	width: 60%;
	float: right;
}

.imgText {
	position: absolute;
	top: 3%;
	left: 5%;
	right: 40%;
	line-height: 1.5;
	font-family: Helvetica;
}

.imgHeading {
	font-size: 3rem;
	margin-bottom: 2%;
}

@media screen and (max-width:1000px) {
	.imgContainer {
		display: flex;
		flex-flow: row wrap;
		position: relative;
		width:100%;
		height: auto;
	}

	.imgText {
		position: relative;
	}

	#sigiriya {
		height: 100%;
		width: 100%;
	}
}