.nav {
	position: fixed;
	display:flex;
	justify-content: space-around;
	align-items: center;
	z-index: 200;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
	width: 100%;
	height:150px;
	transition:all 0.5s ease;
	margin:0px;
}

.navComponent {
	color: #f2f2f2;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-decoration: none;
	max-width: 10%;
	height: auto;
	margin-right: 2%;
}

.navComponent img {
	width:15%;
	height: auto;
}

#yellowMail {
	margin-right: 2%;
}

.logo {
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
	padding:14px;
	width: 150px;
	height: auto;
	margin-top: 0px;
	transition: all 0.5s ease;
}

i {
	cursor: pointer;
	margin-right: 15%;
}

ul { 
  margin: 150px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
}
li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
  cursor: pointer;
}
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: yellow;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

.miniNav {
	visibility: hidden;
	position: fixed;
}

.sideBar {
	width: 0px;
	height:0px;
	visibility: hidden;
}

@media screen and (max-width:1000px) {
	.nav {
		display: none;
	}

	.miniNav {
		visibility: visible;
		position:fixed;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width:100%;
		height:20%;
		background-color: rgba(0,0,0,0.9);
		z-index: 99;
		color: #f2f2f2;
	}

	.logo {
		height: 70%;
		width: auto;
		margin-right: auto;
	}

	i {
		margin: 1%;
	}

	.equiv {
		font-size: 2.5rem;
		margin-right: 5%;
		cursor:pointer;
	}

	.sideBar {
		visibility: visible;
		position:fixed;
		z-index: 100;
		right:0;
		height: 100%;
		background-color: rgba(0,0,0,1);
		transition: all 0.8s ease;
		overflow-y: scroll;
	}

	.sideBar div {
		font-size:2rem;
		color: white;
		margin: 10%;
		cursor:pointer;
	}
}