.nav {
	position: fixed;
	display:flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
	width: 100%;
	height:150px;
	transition:all 0.5s ease;
}

.navComponent {
	color: #f2f2f2;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: auto;
	height: auto;
}

.logo {
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
	padding:14px;
	width: 150px;
	height: auto;
	margin-top: 0px;
	transition: all 0.5s ease;
}